In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [2]:
def splt_list(l, n):
    #Split long list
    n = max(1, n)
    return list(l[i:i+n] for i in range(0, len(l), n))

Scrapping the latest population of the countries in the world from worldometer

In [3]:
def scrap_world_pop():
    URL = 'https://www.worldometers.info/geography/alphabetical-list-of-countries/'
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')
    header = [h.text for h in soup.find_all("th")]
    countries = [result.text for result in soup.find_all("td")]
    countries = splt_list(countries, 5)
    return pd.DataFrame(countries, columns = header)
df_countries = scrap_world_pop()
df_countries.tail(15)

,#,Country,Population(2020),Land Area (Km²),Density(P/Km²)
180,181,Turkmenistan,"6,031,200","469,930",13
181,182,Tuvalu,"11,792",30,393
182,183,Uganda,"45,741,007","199,810",229
183,184,Ukraine,"43,733,762","579,320",75
184,185,United Arab Emirates,"9,890,402","83,600",118
185,186,United Kingdom,"67,886,011","241,930",281
186,187,United States of America,"331,002,651","9,147,420",36
187,188,Uruguay,"3,473,730","175,020",20
188,189,Uzbekistan,"33,469,203","425,400",79
189,190,Vanuatu,"307,145","12,190",25
190,191,Venezuela,"28,435,940","882,050",32
191,192,Vietnam,"97,338,579","310,070",314
192,193,Yemen,"29,825,964","527,970",56
193,194,Zambia,"18,383,955","743,390",25
194,195,Zimbabwe,"14,862,924","386,850",38

Scrapping the COVID cases for continents and countries from worldometer

In [4]:
def scrap_covid_world():
    URL = 'https://www.worldometers.info//coronavirus/'
    page = requests.get(URL)
    soup = BeautifulSoup(page.content, 'html.parser')
    header = [h.text for h in soup.find_all("th")]
    countries = [result.text for result in soup.find_all("td")]
    header = header[:13]
    countries = splt_list(countries, 13)
    return pd.DataFrame(countries, columns = header)
    
df_covid_world = scrap_covid_world()
df_covid_world.loc[8:23]

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Continent
8,USA,"1,457,593",,"86,912",,"318,027","1,052,654","16,240","4,404",263,"10,638,893","32,141",North America
9,Spain,"272,646",,"27,321",,"186,480","58,845","1,376","5,831",584,"2,467,761","52,781",Europe
10,Russia,"252,245",,"2,305",,"53,530","196,410","2,300","1,728",16,"6,188,102","42,403",Europe
11,UK,"233,151",,"33,614",,N/A,"199,193","1,559","3,434",495,"2,219,281","32,691",Europe
12,Italy,"223,096",,"31,368",,"115,288","76,440",855,"3,690",519,"2,807,504","46,434",Europe
13,Brazil,"203,165",+247,"13,999",+6,"79,479","109,687","8,318",956,66,"735,224","3,459",South America
14,France,"178,870",,"27,425",,"59,605","91,840","2,299","2,740",420,"1,384,633","21,213",Europe
15,Germany,"174,975",,"7,928",,"150,300","16,747","1,329","2,088",95,"3,147,771","37,570",Europe
16,Turkey,"144,749",,"4,007",,"104,030","36,712",963,"1,716",48,"1,508,824","17,890",Asia
17,Iran,"114,533",,"6,854",,"90,539","17,140","2,758","1,364",82,"643,772","7,665",Asia
18,India,"81,997",,"2,649",,"27,969","51,379",,59,2,"1,947,041","1,411",Asia
19,Peru,"80,604",,"2,267",,"25,151","53,186",842,"2,445",69,"587,292","17,812",South America
20,Canada,"73,401",,"5,472",,"36,091","31,838",502,"1,945",145,"1,169,380","30,983",North America
21,Belgium,"54,288",,"8,903",,"14,111","31,274",407,"4,684",768,"623,628","53,809",Europe
22,Saudi Arabia,"46,869",,283,,"19,051","27,535",156,"1,346",8,"513,587","14,752",Asia
23,Netherlands,"43,481",,"5,590",,N/A,"37,641",410,"2,538",326,"282,776","16,503",Europe